<section id='installation'>
  <div class="how-we-work-wrapper">
    <div class="how-we-work-header">
      <span class="editable">Мы рады приветствовать Вас на нашей странице!</span>
    </div>
    <p class="line">_____________</p>
  </div>
  <p class="editable">Вне зависимости от того какой вид защитных технических средств вам нужен
    <b>Вы обратились по адресу</b>. Наша компания монтирует и обслуживает
    <b>пожарные и охранные системы</b>
    более чем на
    <b>500</b>
    объектах Кемеровской области и республики Хакасия. За время работы компании нашими специалистами накоплен
    <b>большой опыт</b>
    работы с
    <b>широким спектром</b>
    оборудования на промышленных, коммерческих и социальных объектах. Среди
    <b>наших постоянных клиентов</b>
    школы, детские сады, больницы, офисные и торговые центры, шахты, разрезы, рудники и заводы.</p>
  <div class="how-we-work-wrapper">
    <div class="how-we-work-header">
      <span class="editable">Как мы работаем</span>
    </div>
    <p class="line">_____________</p>
    <div class="lined-table five-columns">
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div first"></div>
            <div class="li-with-circle-number" id="li-with-circle-1-1"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Выезд на объект и проведение бесплатного обследования</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div"></div>
            <div class="li-with-circle-number" id="li-with-circle-1-2"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Выбор технического решения и расчёт стоимости (при необходимости изготовление проекта)</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div"></div>
            <div class="li-with-circle-number" id="li-with-circle-1-3"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Согласование объёмов работы и заключение договора</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div"></div>
            <div class="li-with-circle-number" id="li-with-circle-1-4"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Выполнение монтажных работ</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div last"></div>
            <div class="li-with-circle-number" id="li-with-circle-1-5"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Приёмка/ сдача работы и оплата</div>
        </div>
        <div class="lined-td"></div>
      </div>
    </div>
  </div>
  <p style="margin: 2rem auto 0 auto">
    Подробнее с отзывами о нашей работе можно ознакомиться
    <a class="internal-link" href="reviews.html">здесь</a>.</p>
  <p class="bottom-button">
    <button class="quest-me count-me r5m-action" data-action="r5mDimmer-show" data-type="order" data-text="Монтажные работы">
      Закажите расчет стоимости
    </button>
  </p>
</section>
