<section id='maintenance'>
  <div class="how-we-work-wrapper">
    <div class="how-we-work-header">
      <span class="editable">Техническое обслуживание</span>
    </div>
    <p class="line">_____________</p>
  </div><p class="title">Все системы безопасности можно условно разделить на две группы:</p>
  <ul class="no-bullets">
    <li class="first">
      <b>1.</b>
      Системы безопасности, для которых проведение технического (сервисного) обслуживания является
      <b>обязательным</b>
      и его проведение регламентируется
      <b>государственными нормативными актами</b>.</li>
    <li>
      <b>2.</b>
      Системы безопасности, для которых техническое обслуживания является
      <b>желательным</b>
      и
      <b>необходимым</b>
      для
      <b>предотвращения преждевременного износа</b>
      оборудования и выхода системы из строя, но необходимость его проведения определяет владелец.</li>
  </ul>
  <p class="editable">К
    <i>первой группе</i>
    относится противопожарное оборудование: извещатели, шлейфы и приборы управления сигнализации, системы пожаротушения, тревожного оповещения и управления эвакуацией людей. Виды и периодичность обслуживания такого оборудования определяется на основании рекомендаций изготовителя и нормативных актов пожарной безопасности. Организации, осуществляющие техническое обслуживание данного оборудования должны иметь лицензии МЧС.
    <i>Ко второй</i>
    – системы охранной сигнализации, наблюдения и контроля доступа.</p>
  <div class="how-we-work-wrapper">
    <div class="how-we-work-header">
      <span>Как мы работаем</span>
    </div>
    <p class="line">_____________</p>
    <div class="lined-table four-columns">
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div first"></div>
            <div class="li-with-circle-number" id="li-with-circle-2-1"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Звонок или заявка</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div"></div>
            <div class="li-with-circle-number" id="li-with-circle-2-2"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Проведение бесплатного обследования и расчет стоимости</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div"></div>
            <div class="li-with-circle-number" id="li-with-circle-2-3"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Согласование графика регламентных работ и их стоимости с заказчиком, заключение договора</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div last"></div>
            <div class="li-with-circle-number" id="li-with-circle-2-4"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Выполнение регламентных работ в соответствии с графиком, составление актов проверки работоспособности и других обязательных документов по результатам каждого выезда на объект</div>
        </div>
        <div class="lined-td"></div>
      </div>
    </div>
  </div>
  <p style="margin: 2rem auto 0 auto">Подробнее с отзывами о нашей работе можно ознакомиться
    <a class="internal-link" href="reviews.html">здесь</a>.</p>
  <p class="bottom-button">
    <button class="quest-me spec-me r5m-action" data-action="r5mDimmer-show" data-type="order2" data-text="Техническое обслуживание">Закажите бесплатное обследование</button>
  </p>
</section>
