<section id='monitoring'>
  <div class="how-we-work-wrapper">
    <div class="how-we-work-header">
      <span class="editable">Мониторинг</span>
    </div>
    <p class="line">_____________</p>
  </div><p class="editable">Федеральный закон № 123-ФЗ «Технический регламент о требованиях пожарной безопасности» ст. 83 и Федеральный закон № 117-ФЗ «О внесении изменений в Федеральный закон "Технический регламент о требованиях пожарной безопасности»" указывают на то, что в зданиях классов функциональной пожарной опасности Ф1.1, Ф1.2, Ф4.1, Ф4.2 системы пожарной сигнализации
    <b>должны обеспечивать подачу соответствующих сигналов с их дублированием на пульт подразделения пожарной охраны без участия работников объекта и (или) транслирующей этот сигнал организации.</b>
  </p>
  <p>К указанным категориям Технический регламент относит:</p>
  <ul style="margin-top: 10px;padding-top:0;list-style-type:disc">
    <li>
      <b>Ф1.1</b>
      - детские дошкольные учреждения, специализированные дома престарелых и инвалидов (неквартирные), больницы, спальные корпуса школ-интернатов и детских учреждений;</li>
    <li>
      <b>Ф1.2</b>
      - гостиницы, общежития, спальные корпуса санаториев и домов отдыха общего типа, кемпингов, мотелей и пансионатов;</li>
    <li>
      <b>Ф4.1</b>
      - школы, внешкольные учебные заведения, средние специальные учебные заведения, профессионально-технические училища;</li>
    <li>
      <b>Ф4.2</b>
      - высшие учебные заведения, учреждения повышения квалификации.</li>
  </ul>
  <p>«Центр комплексного обслуживания систем безопасности»
    <b>успешно</b>
    монтирует такие системы транслирования сигнала и берет на себя заботу о поддержании их работоспособности. На сегодняшний день, среди подобных систем
    <b>очень хорошо</b>
    зарекомендовала себя
    <b>интегрированная система мониторинга «Мираж»</b>. «Мираж» имеет оптимальные показатели по соотношению цена/качество и успешно функционирует более чем в
    <b>200</b>
    образовательных учреждениях юга Кузбасса, а специалисты нашей компании имеют
    <b>огромный опыт</b>
    по установке и обслуживанию данной системы.</p>
  <p class="editable">Если ваш объект подпадает в одну из перечисленных категорий (Ф1.1, Ф1.2, Ф4.1, Ф4.2) и пока не оборудован системой автоматической передачи сигнала в пожарную часть, вы можете поручить
    <b>весь комплекс</b>
    работ по установке, подключению и обслуживанию ИСМ «Мираж» нашей компании. Для этого вам надо позвонить по телефону
    <b style="white-space:nowrap">8(3843) 910-313</b>
    или написать о вашем желании на e-mail:
    <b>
      <a href="mailto:cko-sb@mail.ru">cko-sb@mail.ru</a>
    </b>, все остальное сделают наши специалисты.</p>
  <div class="how-we-work-wrapper">
    <div class="how-we-work-header">
      <span>Как мы работаем</span>
    </div>
    <p class="line">_____________</p>
    <div class="lined-table four-columns">
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div first"></div>
            <div class="li-with-circle-number" id="li-with-circle-3-1"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Звонок или заявка</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div"></div>
            <div class="li-with-circle-number" id="li-with-circle-3-2"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Проведение бесплатного обследования и расчет стоимости</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div"></div>
            <div class="li-with-circle-number" id="li-with-circle-3-3"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Согласование графика монтажных и пусконаладочных работ, и их стоимости с заказчиком, заключение договора</div>
        </div>
        <div class="lined-td"></div>
      </div>
      <div class="lined-tr">
        <div class="lined-td"></div>
        <div class="lined-td for-circle">
          <div class="circle-wrapper">
            <div class="lined-div last"></div>
            <div class="li-with-circle-number" id="li-with-circle-3-4"></div>
          </div>
        </div>
        <div class="li-with-circle-content">
          <div>Выполнение работ, вывод сигнала в пожарную часть</div>
        </div>
        <div class="lined-td"></div>
      </div>
    </div>
  </div>
  <p style="margin: 2rem auto 0 auto">Подробнее с отзывами о нашей работе можно ознакомиться
    <a class="internal-link" href="reviews.html">здесь</a>.
  </p>
  <p class="bottom-button">
    <button class="quest-me count-me r5m-action" data-action="r5mDimmer-show" data-type="order" data-text="Мониторинг">
      Закажите расчет стоимости
    </button>
  </p>
</section>
