<section id='reviews' class="gallery-container" data-page-id="reviews">
  <div class="how-we-work-wrapper">
    <div class="how-we-work-header">
      <span class="editable">Наши клиенты о нас</span>
    </div>
    <p class="line">_____________</p>
  </div>

  <div class="cert-wrapper">
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/24.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/24-200.jpg" class="r5m-gallery-img"
             data-alt="МБОУ Средняя общеобразовательная школа №79"
             data-href="img/certs/24.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">МБОУ Средняя общеобразовательная школа №79</div>
          <div class="cert-content">
            <p class="editable">
              МБОУ Средняя общеобразовательная школа №79 в лице директора Лебедевой Светланы Юрьевны выражает благодарность руководству ООО &laquo;ЦКО-СБ&raquo; 
              за качественное предоставление комплекса услуг по техническому обслуживанию системы автоматической пожарной сигнализации и мониторинга ИСМ &laquo;Мираж&raquo;
            </p>
            <p>
              В процессе нашего сотрудничества специалисты технического отдела ООО &laquo;ЦКО-СБ&raquo; 
              подтвердили свой высокий профессиональный статус и оперативность в решении проблем.
              Выезд специалистов технического отдела на объекты осуществляется оперативно, в том числе и в нерегламентный период. 
              Менеджеры по работе с клиентами &ndash; квалифицированы и доброжелательны.
            </p>
            <p>
              <b>Надеемся на дальнейшее сотрудничество наших организаций в 2017г.</b>
            </p>
            
         </div>
      </div>
    </div>
     
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/23.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/23-200.jpg" class="r5m-gallery-img"
             data-alt="Школа-сад №235"
             data-href="img/certs/23.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Школа-сад №235</div>
          <div class="cert-content">
            <p class="editable">
              МК ОУ Школа-сад №235 в лице директора Сафроновой Ольги Сергеевны выражает благодарность руководству ООО &laquo;ЦКО-СБ&raquo; 
              и работникам Пульта Централизованного Наблюдения за профессиональную организацию работы по передаче сигнала в подразделение противопожарной службы.              
            </p>
            <p>
              <b>Качеством работы довольны, планируем продолжать работу в дальнейшие годы.</b>
            </p>
            
         </div>
      </div>
    </div>
    
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/22.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/22-200.jpg" class="r5m-gallery-img"
             data-alt="Школа-интернат №38"
             data-href="img/certs/22.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Специальная школа-интернат №38</div>
          <div class="cert-content">
            <p class="editable">
              Сотрудничаем с ООО &laquo;ЦКО-СБ&raquo; с 2008г. ООО &laquo;ЦКО-СБ&raquo; осуществляли проектирование и установку в здании школы системы автоматической пожарной сигнализации и аварийного освещения. Вся документация была оформлена в соответствии с требованиями, были учтены особенности наших учащихся, предусмотрены виброустановки и световая сигнализация.              
            </p>
            <p>
              В соответствии с договорами ООО &laquo;ЦКО-СБ&raquo; ежеквартально проводит полную проверку работоспособности систем автоматической пожарной сигнализации и аварийного освещения и составляет акт установленной формы.
            </p>
            <p>
              Также МКОУ &laquo;Школа-интернат №38&raquo; заключает договора с ООО &laquo;ЦКО-СБ&raquo; о передаче сигнала &laquo;Пожарная тревога&raquo; по каналам связи GSM. Следует отметить, что работники пульта очень оперативно реагируют на возникновение сигнала и ставят нас в известность, всегда вежливы и внимательны.
            </p>
            <p>
              Отдельно хочется отметить человеческие качества сотрудников ООО &laquo;ЦКО-СБ&raquo;.
              Работники всегда вежливы, выполняют работу быстро, не мешая учебному процессу, за собой убирают весь мусор, разъясняют технические вопросы.
            </p>
            <p>
              <b>В ООО &laquo;ЦКО-СБ&raquo; работают настоящие профессионалы, с которыми приятно иметь дело.</b>
            </p>
         </div>
      </div>
    </div>
    
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/20.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/20-200.jpg" class="r5m-gallery-img"
             data-alt="МБО ДУ &laquo;Станция юных натуралистов&raquo;"
             data-href="img/certs/20.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">МБО ДУ &laquo;Станция юных натуралистов&raquo;</div>
          <div class="cert-content">
            <p class="editable">
              Организация выражает искреннюю благодарность руководству и всему коллективу за профессионализм в решении вопросов обеспечения пожарной безопасности.
            </p>            
         </div>
      </div>
    </div>
    
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/21.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/21-200.jpg" class="r5m-gallery-img"
             data-alt="Средняя общеобразовательная школа №26"
             data-href="img/certs/21.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Средняя общеобразовательная школа №26</div>
          <div class="cert-content">
            <p class="editable">
              Средняя общеобразовательная школа №26 в лице директора Халето Татьяны Юрьевны выражает благодарность ООО &laquo;ЦКО-СБ&raquo; за качественное предоставлени комплекса услуг по техническому обслуживанию систем автоматической пожарной сигнализации и мониторинга ИСМ &laquo;Мираж&raquo;
            </p>
      	    <p>
              Специалисты технического отдела ООО &laquo;ЦКО-СБ&raquo; подтвердили свой высокий профессиональный статус и оперативность в решении проблем.
              Выезд специалистов технического отдела на объекты осуществляется оперативно, в том числе и в нерегламентный период. 
              Менеджеры по работе с клиентами &ndash; квалифицированы и доброжелательны.
            </p>
            <p>
              <b>Надеемся на дальнейшее сотрудничество наших организаций в 2017г.</b>
            </p>
         </div>
      </div>
    </div>
    
    
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/19.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/19-200.jpg" class="r5m-gallery-img"
             data-alt="Детский дом &laquo;Единство&raquo;"
             data-href="img/certs/19.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Детский дом &laquo;Единство&raquo;</div>
          <div class="cert-content">
            <p class="editable">
              Выражаем исреннюю благодарность руководству и коллективу ПЦН ООО &laquo;ЦКО-СБ&raquo; за профессионализм и качественное решение вопросов по обеспечению пожарной безопасности.
            </p>
      	    <p>
              <b>Доброжелательные и отзывчивые сотрудники, результатами довольны.</b>
            </p>
         </div>
      </div>
    </div>
    
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/18.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/18-200.jpg" class="r5m-gallery-img"
             data-alt="Центр детского (юношеского) творчества &laquo;Меридиан&raquo;"
             data-href="img/certs/18.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Центр детского (юношеского) творчества &laquo;Меридиан&raquo;</div>
          <div class="cert-content">
            <p class="editable">
              Выражаем благодарность за качественное предоставление комплекса услуг по техническому обслуживанию систем автоматической пожарной сигнализации и мониторинга ИСМ &laquo;Мираж&raquo;.
            </p>
      	    <p>
              В процессе нашего сотрудничества специалисты технического отдела ООО &laquo;ЦКО-СБ&raquo; подтвердили свой высокий профессиональный статус и оперативность в решении проблем.
            </p>
            <p>
              Выезд специалистов технического отдела на объекты осуществляется оперативно, в том числе и в нерегламентный период. Менеджеры по работе с клиентами &ndash; компетентны и доброжелательны, всегда готовы оказать квалифицированную консультацию.
            </p>
            <p>
              <b>Надеемся на дальнейшее плодотворное сотрудничество в 2017г.</b>
            </p>
         </div>
      </div>
    </div>
    
    
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/17.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/17-200.jpg" class="r5m-gallery-img"
             data-alt="Гимназия №17 им. В.П.Чкалова"
             data-href="img/certs/17.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Гимназия №17 им. В.П.Чкалова</div>
          <div class="cert-content">
            <p class="editable">
              Выражаем благодарность руководителям и коллективу ООО &laquo;ЦКО-СБ&raquo; за профессиональный подход в решении вопросов обеспечения пожарной безопасности в детском учреждении.
            </p>
      	    <p>
              <b>20 лет наше ОУ сотрудничает с ООО &laquo;ЦКО-СБ&raquo;</b>.
            </p>
            <p>
              С 2015г. пользуемся новым видом услуг &ndash; мониторинг ПЦО. Услуги по автоматической передаче извещений в подразделение противопожарной службы выполняются качественно и в установленные договором сроки.
            </p>
            <p>
              Цены ниже в сравнении с другими организациями, предлагающими этот вид услуг.
              У вас доброжелательные и отзывчивые сотрудники. Планируем продолжить работу с вашей организацией и в дальнейшем.
            </p>
         </div>
      </div>
    </div>
    
    <%# %>
      
    <div class="cert r5m-gallery-link">
                <div class="certs-left">
            <a href="img/certs/16.jpg">
              <img style="border: solid 1px #ccc" src="img/certs/16-200.jpg" class="r5m-gallery-img"
                data-alt="ООО Новый город"
                data-href="img/certs/16.jpg">
            </a>
          </div>
          <div class="certs-right">
            <div class="cert-header" style="text-align:left">&laquo;ООО Новый город&raquo;</div>
            <div class="cert-content">
              <p class="editable">
                ООО &laquo;Новый город&raquo; благодарит ООО &laquo;ЦКО-СБ&raquo; за плодотворное сотрудничество.
                Выражаем неподдельную признательность за честные и добросовестные взаимоотношения и взаимопонимание.
              </p>
              <p>
                <b>Будем рады дальнейшему развитию уверенного сотрудничества между нами</b>.
              </p>
            </div>
          </div>
        </div>
    
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/15.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/15-200.jpg" class="r5m-gallery-img"
            data-alt="Детский сад №9, г. Новокузнецк"
            data-href="img/certs/15.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Детский сад №9, г. Новокузнецк</div>
        <div class="cert-content">
          <p class="editable">
            МБ ДОУ &laquo;Детский сад №9&raquo; выражает вам благодарность за сотрудничество и высокий профессионализм в сфере работ по пожарной безопасности.
          </p>
          <p>
            <b>Надеемся на дальнейшее плодотворное сотрудничество</b>.
          </p>
        </div>
      </div>
    </div>
    
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/14.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/14-200.jpg" class="r5m-gallery-img"
            data-alt="Социально-реабилитационный центр для несовершеннолетних Виктория"
            data-href="img/certs/14.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Социально-реабилитационный центр для несовершеннолетних &laquo;Виктория&raquo;</div>
        <div class="cert-content">
          <p class="editable">
            На протяжении 4 лет мы сотрудничаем с ООО &laquo;ЦКО-СБ&raquo;.
            Работники, обслуживающие АУПС и СОУЭ зарекомендовали себя как надежные, ответственные, добросовестные, исполнительные специалисты.
          </p>
          <p>
            <b>Администрация МКУ СРЦ &laquo;Виктория&raquo; будет продолжать сотрудничество с ООО &laquo;ЦКО-СБ&raquo;</b>.
          </p>
        </div>
      </div>
    </div>
      
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/13.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/13-200.jpg" class="r5m-gallery-img"
            data-alt="Новокузнецкий завод резервуарных металлоконструкций"
            data-href="img/certs/13.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Новокузнецкий завод резервуарных металлоконструкций</div>
        <div class="cert-content">
          <p class="editable">
            АО &laquo;НЗРМК им. Н.Е. Крюкова&raquo; выражает благодарность коллективу ООО &laquo;ЦКО-СБ&raquo; за высокий профессионализм,
            оперативную и качественную работу по техническому обслуживанию систем.
          </p>
          <p>
            <b>Мы оцениваем вас как ответственного партнера и надеемся на дальнейшее взаимовыгодное сотрудничество с вами</b>.
          </p>
        </div>
      </div>
    </div>

    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/12.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/12-200.jpg" class="r5m-gallery-img"
            data-alt="Кузбасская топливная компания"
            data-href="img/certs/12.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Кузбасская топливная компания</div>
        <div class="cert-content">
          <p class="editable">
            Выезд специалистов на объекты осуществляется своевременно без нарушений установленных графиков.
          </p>
          <p>
            Коллектив ООО «ЦКО-СБ» обеспечивает качество и сроки выполнения
            работ в строгом соответствии с предъявляемыми к ним требованиями.
          </p><p>
            <b>Мы надеемся на дальнейшее сотрудничество и рекомендуем ООО
            «ЦКО-СБ» как надежного партнера</b>.
          </p>
        </div>
      </div>
    </div>

    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/99.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/99-200.jpg" class="r5m-gallery-img"
            data-alt="Новокузнецкий клинический онкологический диспансер"
            data-href="img/certs/99.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">Новокузнецкий клинический онкологический диспансер</div>
        <div class="cert-content">
          <p class="editable">Новокузнецкий клинический онкологический диспансер благодарит за сотрудничество в сфере работы по монтажу системы для вывода сигнала о возникновении пожара.</p>
          <p>
            <b>Будем рады дальнейшему сотрудничеству</b>.
          </p>
        </div>
      </div>
    </div>

    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/8.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/8-200.jpg" class="r5m-gallery-img"
            data-alt="ОАО «СУЭК-Кузбасс» ПЕ «Спецналадка»"
            data-href="img/certs/8.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">ОАО «СУЭК-Кузбасс» ПЕ «Спецналадка»</div>
        <div class="cert-content">
          <p class="editable">ПЕ «Спецналадка» ОАО «СУЭК-Кузбасс» выражает благодарность коллективу ООО «Центр комплексного обслуживания систем безопасности» (ООО «ЦКО-СБ»), за высокий профессионализм, оперативную и качественную работу по техническому обслуживанию систем пожарно-охранной сигнализации.</p>
        </div>
      </div>
    </div>
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/9.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/9-200.jpg"
           class="r5m-gallery-img"
          data-alt="ОАО «СУЭК-Кузбасс» ПЕ «Энергоуправление»"
          data-href="img/certs/9.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">ОАО «СУЭК-Кузбасс» ПЕ «Энергоуправление»</div>
        <div class="cert-content">
          <p class="editable">ОАО «СУЭК-Кузбасс» ПЕ «Энергоуправление» сотрудничает с компанией ООО «Центр комплексного обслуживания систем безопасности» с 2013 г. За это время все услуги предоставляются качественно и в установленные сроки, нареканий по работе не возникало.</p>
          <p>
            <b>Рекомендуем к сотрудничеству</b>.</p>
        </div>
      </div>
    </div>
    <div class="cert r5m-gallery-link">
      <div class="certs-left">
        <a href="img/certs/polarstar.jpg">
          <img style="border: solid 1px #ccc" src="img/certs/polarstar-200.jpg"
           class="r5m-gallery-img"
          data-alt="МКУ СРЦН «Полярная звезда»"
          data-href="img/certs/polarstar.jpg">
        </a>
      </div>
      <div class="certs-right">
        <div class="cert-header" style="text-align:left">МКУ СРЦН "Полярная звезда"</div>
        <div class="cert-content">
          <p class="editable">Выражает искреннюю благодарность директору и коллективу ООО "ЦКО-СБ" за профессионализм и бескорыстную помощь в решении вопросов обеспечения пожарной безопасности в учреждении для детей, оставшихся без попечения родителей</p>
        </div>
      </div>
    </div>
    <div class="how-we-work-wrapper">
      <p class="line">_____________</p>
    </div>
    <div class="cert-wrapper">
      <div class="cert r5m-galley-link">
        <div class="certs-left">
          <a href="img/certs/2.jpg">
            <img style="border: solid 1px #ccc" src="img/certs/2-200.jpg"
            class="r5m-gallery-img"
           data-alt="МКУ «Центр помощи детям, оставшимся без попечения родителей»"
           data-href="img/certs/2.jpg">
          </a>
        </div>
        <div class="certs-right">
          <div class="cert-header" style="text-align:left">МКУ "Центр помощи детям, оставшимся без попечения родителей"</div>
          <div class="cert-content">
            <p class="editable">Выбором исполнителя в пользу ООО "ЦКО-СБ" остались довольны, так как оказываемые услуги по автоматической передаче по каналам связи извещений о срабатывании или неисправности системы АПС на объекте в подразделение противопожарной службы выполняются качественно и в необходимые сроки. Результатами довольны, будем рекомендовать потенциальным заказчикам.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="how-we-work-wrapper">
      <p class="line">_____________</p>
    </div>
    <div class="cert-wrapper">
      <div class="cert r5m-galley-link">
        <div class="certs-left">
          <a href="img/certs/3.jpg">
            <img style="border: solid 1px #ccc" src="img/certs/3-200.jpg"
            class="r5m-gallery-img"
           data-alt="ООО «Новокузнецкое предприятияе «Хозивентарь»"
           data-href="img/certs/3.jpg">
          </a>
        </div>
        <div class="certs-right">
          <div class="cert-header" style="text-align:left">ООО "Новокузнецкое предприятияе "Хозивентарь"</div>
          <div class="cert-content">
            <p class="editable">В 2012г. заключили договор с ООО "Центр комплексного обслуживания систем безопасности". Сомнений в выборе компании не было. Работой довольны. По возможности будем рекомендовать.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="how-we-work-wrapper">
      <p class="line">_____________</p>
    </div>
    <div class="cert-wrapper">
      <div class="cert r5m-galley-link">
        <div class="certs-left">
          <a href="img/certs/4.jpg">
            <img style="border: solid 1px #ccc" src="img/certs/4-200.jpg"
            class="r5m-gallery-img"
           data-alt="МБОУ «Центр диагностики и консультирования»"
           data-href="img/certs/4.jpg">
          </a>
        </div>
        <div class="certs-right">
          <div class="cert-header" style="text-align:left">МБОУ "Центр диагностики и консультирования"</div>
          <div class="cert-content">
            <p class="editable">В течении трех лет сотрудничаем с центром комплексного обслуживания систем безопасности. Очень довольны результатами работы. Радуют цены в сравнение с другими организациями. Доброжелательные, отзывчивые сотрудники. Планируем продолжать совместную работу и в последующие годы.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="how-we-work-wrapper">
      <p class="line">_____________</p>
    </div>
    <div class="cert-wrapper">
      <div class="cert r5m-galley-link">
        <div class="certs-left">
          <a href="img/certs/5.jpg">
            <img style="border: solid 1px #ccc" src="img/certs/5-200.jpg"
            class="r5m-gallery-img"
           data-alt="МБ ДОУ «Детский сад №88»"
           data-href="img/certs/5.jpg">
          </a>
        </div>
        <div class="certs-right">
          <div class="cert-header" style="text-align:left">МБ ДОУ "Детский сад №88"</div>
          <div class="cert-content">
            <p class="editable">Работаем с Центром комплексного обслуживания систем безопасности с 2010г по рекомендации других организаций. Сомнений при выборе не было. Результаты работ положительные.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="how-we-work-wrapper">
      <p class="line">_____________</p>
    </div>
    <div class="cert-wrapper">
      <div class="cert r5m-galley-link">
        <div class="certs-left">
          <a href="img/certs/7.jpg">
            <img style="border: solid 1px #ccc" src="img/certs/7-200.jpg"
            class="r5m-gallery-img"
           data-alt="МКУ «Центр реабилитации детей и подростков с ограниченными возможностями»"
           data-href="img/certs/7.jpg">
          </a>
        </div>
        <div class="certs-right">
          <div class="cert-header" style="text-align:left">МКУ "Центр реабилитации детей и подростков с ограниченными возможностями"</div>
          <div class="cert-content">
            <p class="editable">МКУ "Центр реабилитации детей и подростков с ограниченными возможностями" обратился в ООО "ЦКО-СБ" в январе 2014г. с просьбой выполнить интегрированную систему мониторинга "Мираж" с выводом сигнала в подразделение противопожарной службы.</p>
            <p>ООО "ЦКО-СБ" имеет
              <b>высококлассных специалистов</b>
              в этой области. Работа выполнена на
              <b>высоком профессиональном</b>
              уровне с
              <b>отличным качеством</b>.</p>
            <p>Мы благодарны вам за проделанную работу и надеемся на дальнейшее сотрудничество.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="how-we-work-wrapper">
      <p class="line">_____________</p>
    </div>
    <div class="cert-wrapper">
      <div class="cert r5m-galley-link">
        <div>
          <div class="cert-header" style="text-align:left">МКУ "Детский дом "Ровесник"</div>
          <div class="cert-content">
            <p class="editable">МКУ "Детский дом "Ровесник" сотрудничает с ЦКО СБ
              <b>более 10 лет</b>. Все сотрудники - профессионалы своего дела.</p>
            <p>Услуги оказываются
              <b>своевременно и качественно</b>. Рекомендуем данную организацию всем заинтересованным лицам.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="how-we-work-wrapper">
      <p class="line">_____________</p>
    </div>
    <div class="cert-wrapper">
      <div class="cert r5m-galley-link">
        <div class="certs-left">
          <a href="img/certs/11.jpg">
            <img style="border: solid 1px #ccc" src="img/certs/11-200.jpg"
            class="r5m-gallery-img"
           data-alt="МКУ «Социально-реабилитационный центр для несовершеннолетних Алые паруса"
           data-href="img/certs/11.jpg">
          </a>
        </div>
        <div class="certs-right">
          <div class="cert-header" style="text-align:left">МКУ "Социально-реабилитационный центр для несовершеннолетних "Алые паруса"</div>
          <div class="cert-content">
            <p class="editable">Работаем с ООО "ЦКО-СБ" более трех лет. Претензий к обслуживанию не имеем.</p>
            <p>
              <i>Спасибо за сотрудничество!</i>

            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="how-we-work-wrapper">
      <p class="line">_____________</p>
    </div>
    <div class="cert-wrapper">
      <div class="cert r5m-galley-link">
        <div class="certs-left">
          <a href="img/certs/10.png">
            <img style="border: solid 1px #ccc" src="img/certs/10-200.png"
            class="r5m-gallery-img"
           data-alt="Детский сад №20"
           data-href="img/certs/10.png">
          </a>
        </div>
        <div class="certs-right">
          <div class="cert-header" style="text-align:left">Детский сад №20</div>
          <div class="cert-content">
            <p class="editable">Выражаем глубокую благодарность Милихину Александру Михайловичу, управляющему ООО "ЦКО-СБ", за профессионализм и высокое качество обслуживания МБ ДОУ "Детский сад №20".</p>
            <p>
              <i>Надеемся на дальнейшее сотрудничество.</i>

            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
