<footer class="footer clearfix">
	<span class="copyright"></span>
	<div class="copyleft">
		<span class="copyleft__address">
			&copy; 2014-2017, ООО ЦКО-СБ<br/>
		г.Новокузецк, ул. Площадь Побед, 2<br/>
		Email: <b>cko-sb@mail.ru</b><br/>
        Телефон (круглосуточно): <b><a style="text-decoration:none;" href="tel:+73843200206">8(3843) 200-206</a></b>
		<br/></span>
		<%#<div class="contact-footer-info" style="clear: both">
			<div class="title first">
				Сметно-<br/>договорной отдел:
			</div>
			<div class="first">
				8(3843) 910313<br/>
				+7-909-514-1469
			</div>
			<div class="title" style="">
				Телефон диспетчера<br/>(круглосуточно):
			</div>
			<div>
				8(3843) 910331<br/>
				+7-960-900-6963<br/>
			</div>
			<div class="title" style="">
				Тел./Факс:
			</div>
			<div style="padding-right:0;">
				8(3843) 46-77-46
			</div>

		</div>%>		
	</div>
    <span class="webmaster-block"><a href="https://milikhin.name" class="webmaster-link">Разработка и сопровождение сайта <i class="fa fa-external-link"></i></a></span>
</footer>
