<footer class="footer">
	<span class="copyright" ></span>
	<div class="copyleft" >
		<span class="copyleft__address">
			ООО ЦКО-СБ, 2014-2016<br/>
		г.Новокузецк, ул. Площадь Побед, 2<br/>
		<b>cko-sb@mail.ru</b><br/>
		8(3843) 200-206
		<br/></span>
		<div class="contact-footer-info" style="clear: both">
			<div class="title first">
				Сметно-<br/>договорной отдел:
			</div>
			<div class="first">
				8(3843) 910313<br/>
				+7-909-514-1469
			</div>
			<div class="title" style="">
				Телефон диспетчера<br/>(круглосуточно):
			</div>
			<div>
				8(3843) 910331<br/>
				+7-960-900-6963<br/>
			</div>
			<div class="title" style="">
				Тел./Факс:
			</div>
			<div style="padding-right:0;">
				8(3843) 46-77-46
			</div>

		</div>

		<!--<span style="float: right; font-size: 0.75em">Сделано в R5M</span>-->
	</div>
	<div class="clearBoth">&nbsp;</div>
</footer>
