<header>
	<!-- Center -->
	<div class="offer">
		<div class="offer-content">
			<p class="offer-main">МОНТАЖ, ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ И РЕМОНТ СИСТЕМ ОХРАННО-ПОЖАРНОЙ СИГНАЛИЗАЦИИ, ПОЖАРОТУШЕНИЯ И ВИДЕОНАБЛЮДЕНИЯ</p>
			<p class="offer-slogan"><i>Все решения&nbsp;<br/>в одном месте!</i></p>
		</div>
	</div>

	<!-- Left column -->
	<div class="logo">
		<a href="./"><img src="./img/logo.png"/></a>
		<p class="logo-text">Центр комплексного обслуживания систем безопасности</p>
	</div>



	<!-- Right -->
	<div class="actions">
		<p class="phone-p">
			<span class="phone">8(383) 375-14-90</span><br/>
			<span class="phone">+7 923 775 14-90</span><br/>
			<span class="pre-phone">Новосибирск</span>
		</p>

		<p class="phone-p">
			<span class="phone">8(3843) 53-77-42</span><br/>
			<span class="pre-phone">Новокузнецк</span>
		</p>
		<p>
			<button class="call-me r5m-action" data-action="r5mDimmer-show" data-type="call">Закажите звонок</button>
			<button class="quest-me r5m-action" data-action="r5mDimmer-show" data-type="question">Задайте вопрос</button>
		</p>

	</div>

	<div class="clearBoth"></div>
</header>
