<!-- Page navigation generated in PHP -->
<nav id="common-content-manage" class="float-left navigation custom-blue-background">
  <ul>
    <li id="installation-button" class="r5m-nav-link">
      <a class="white bold" data-href="installation" href="./">Монтажные работы</a>
      <span class="pointer"></span>
    </li>
    <li id="maintenance-button" class="r5m-nav-link">
      <a class="white bold" data-href="maintenance" href="./maintenance.html">Техническое обслуживание</a>
      <span class="pointer"></span>
    </li>
    <li id="monitoring-button" class="r5m-nav-link"> 
      <a class="white bold" data-href="monitoring" href="./monitoring.html">Мониторинг</a>
      <span class="pointer"></span>
    </li>
  </ul>
</nav>
