<aside class="certs">
  <h3>Лицензии и сертификаты</h3>

  <ul class="gallery-container" data-page-id="certs">
    <!-- TODO: generate in PHP -->
    <li class="r5m-gallery-link">
      <a class='gallery r5m-gallery-img' href='./img/certs/cert1.jpg' data-href="./img/certs/cert1.jpg" data-alt="Сертификат &laquo;Мираж&raquo;">
        <img src="./img/certs/cert1.jpg" alt="Сертификат Мираж"/>
        <p style="margin-top: 5px; margin-bottom:10px; text-align:center">Сертификат<br/>"Мираж"</p>
      </a>
    </li>
    <li class="r5m-gallery-link">
      <a class='gallery r5m-gallery-img' href='./img/certs/cert2.jpg' data-href="./img/certs/cert2.jpg" data-alt="Сертификат &laquo;Мираж&raquo;">
        <img src="./img/certs/cert2.jpg"/>
        <p style="margin-top: 5px; margin-bottom:10px; text-align:center">Сертификат<br/>"Мираж"</p>
      </a>
    </li>
    <li  class="r5m-gallery-link">
      <a id="real-photo-of-license" class='gallery r5m-gallery-img' href='./img/certs/cert4.jpg' data-href="./img/certs/cert4.jpg" data-alt="Лицензия (начало)">
        <img src="./img/certs/cert4.jpg"
        />
        <p style="margin-top: 5px; margin-bottom:10px; text-align:center">Лицензия<br/>(начало)</p>
      </a>
    </li>
    <li class="r5m-gallery-link">
      <a class='gallery r5m-gallery-img' href='./img/certs/cert3.jpg' data-href="./img/certs/cert3.jpg" data-alt="Лицензия (продолжение)">
        <img src="./img/certs/cert3.jpg"/>
        <p style="margin-top: 5px; margin-bottom:10px; text-align:center">Лицензия<br/>(продолжение)</p>
      </a>
    </li>

  </ul>

  <div class="clearBoth"></div>


</aside>
