<aside class="reviews">
  <h3>
    <a class="reviews-content-header" href="./reviews.html">Отзывы клиентов</a>
  </h3>
  <ul>
    <li>
      <h4 style="text-align:left">МБОУ "Центр диагностики и консультирования"</h4>
      <p class="date">Декабрь 2014г.</p>
      <a href="./reviews.html"><img src="./img/certs/2.jpg"/></a>
      <p class="review-content">
        В течении трех лет сотрудничаем с центром комплексного обслуживания систем безопасности. Очень довольны результатами работы. Радуют цены в сравнение с другими организациями. Доброжелательные, отзывчивые сотрудники. Планируем продолжать совместную работу и в последующие годы.</p>
      <div class="clearBoth"></div>
    </li>

    <li class="divide"><img class="divider" src="./img/logo_separator.png"/></li>
    <li>
      <h4 style="text-align:left">ООО "Новокузнецкое предприятие "Хозивентарь"</h4>
      <p class="date">Декабрь 2014г.</p>
      <a href="./reviews.html"><img src="./img/certs/2.jpg"/></a>
      <p class="review-content">
        В 2012г. заключили договор с ООО "Центр комплексного обслуживания систем безопасности". Сомнений в выборе компании не было. Работой довольны. По возможности будем рекомендовать</p>
      <div class="clearBoth"></div>
    </li>
  </ul>
</aside>
