<aside class="reviews">
  <h3>
    <a class="reviews-content-header" href="./reviews.html">Отзывы клиентов</a>
  </h3>
  <ul>
    <li>
      <h4 style="text-align:left">МКОУ Школа-интернат №4</h4>
      <p class="date">Сентябрь 2017г.</p>
      <a href="./reviews.html"><img src="./img/certs/100-200.jpg"/></a>
      <p class="review-content">
        Хочется отметить профессионализм Вашего сотрудника, его корректность в общении с клиентами.
      </p>
      <p class="review-content">        
        Нам было очень приятно сотрудничать с Вами. Спасибо.
      </p>
        <div class="clearBoth"></div>
      </li>

    <li class="divide"><img class="divider" src="./img/logo_separator.png"/></li>

    <li>
      <h4 style="text-align:left">Кузбасская топливная компания</h4>
      <p class="date">Октябрь 2016г.</p>
      <a href="./reviews.html"><img src="./img/certs/12-200.jpg"/></a>
      <p class="review-content">
        Коллектив ООО «ЦКО-СБ» обеспечивает качество и сроки выполнения
        работ в строгом соответствии с предъявляемыми к ним требованиями.
      </p>
      <p class="review-content">
        Мы надеемся на дальнейшее сотрудничество и рекомендуем ООО
        «ЦКО-СБ» как надежного партнера
      </p>
        <div class="clearBoth"></div>
      </li>
  </ul>
</aside>
